<% content_for :title, t('.title') %>

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 class="page-title"><%= t('.title') %></h1>
    </div>
  </div>

  <%= render partial: "shared/horizontal_line", locals: { width: 90 } %>

  <div class="jumbotron-fluid img-fluid mt-3 mb-4">
    <%= image_tag('tequila-glass.jpg', height: '100', width: '100', class: 'w-100 img-fluid') %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <b>AlcoHome </b><%= t('.first_paragraph') %>
      </p>

      <p>
        <%= t('.second_paragraph') %>
      </p>

      <p>
        <%= t('.third_paragraph') %>
      </p>

      <p>
        <%= t('.fourth_paragraph') %>
      </p>

      <p>
        <%= t('.fifth_paragraph') %>
      </p>

      <p>
        <%= t('.sixth_paragraph') %>
      </p>
    </div>
  </div>
</div>
