<% content_for :title, t('.title') %>

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 class="page-title"><%= t('.title') %></h1>
    </div>
  </div>

  <%= render partial: "shared/horizontal_line", locals: { width: 90 } %>

  <div class="row text-center">
    <div class="col-md-12">
      <div class="contact-details">
        <p>
          <strong><%= t('.address') %>:</strong> Buchengasse 63/4, A-1100 Wien
        </p>

        <p>
          <strong><%= t('.email') %>:</strong> <a href="mailto:contact@alcohome.at?subject=Contact%20using%20web%20form&body=Please%20send%20me%20your%20catalog!">contact@alcohome.at</a>
        </p>

        <p>
          <strong><%= t('.phone_number') %>:</strong> +43 660 83 79 626
        </p>
      </div>

      <div class="contact-map mt-5 mb-5">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZeUD9MOpbUcRd9HpfC-nkBI&key=AIzaSyDJ0oEUnTMT5ggVMwx9AqnGE4wtY8UmUTs" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
