<div class="row text-center mt-3">
  <div class="col-md-12">
    <h1 id="alcohome-heading">Alcohome</h1>
    <p class="lead">
      <span id="typedElement"></span>
    </p>
  </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= link_to image_tag('vodka_cropped.jpg', class: 'd-block w-100'), category_path(@category_vodka) %>
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('whiskey_cropped.jpg', class: 'd-block w-100'), category_path(@category_whiskey) %>
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('wine_cropped.jpg', class: 'd-block w-100'), category_path(@category_wine) %>
    </div>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col-md-12">
    <h2>What should it be?</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_schnaps_and_minis) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag('tequila.jpg', height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2>Tequila</h2></strong>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_gin) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag('gin.jpg', height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2>Gin</h2></strong>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_rum) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag('rum.jpg', height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2>Rum</h2></strong>
        </div>
      </div>
    </a>
  </div>
</div>

<script type="text/javascript">
  var options = {
    strings: ["Buying alcohol has never been easier!", "We have the best prices!"],
    typeSpeed: 35
  }

  var typed = new Typed("#typedElement", options);
</script>
