<div class="row text-center mt-3">
  <div class="col-md-12">
    <h1 id="alcohome-heading">Alcohome</h1>
    <p class="lead">
      <span id="typedElement"></span>
    </p>
  </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= link_to image_tag('vodka_cropped.jpg', class: 'd-block w-100'), category_path(@category_random) %>
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('whiskey_cropped.jpg', class: 'd-block w-100'), category_path(@category_random2) %>
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('wine_cropped.jpg', class: 'd-block w-100'), category_path(@category_random3) %>
    </div>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col-md-12">
    <h2><%= t('.first_subtitle') %></h2>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px; height:1px; background-color: #4F7479;">
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_random) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag(@category_random.image.url, height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2><%= @category_random.name %></h2></strong>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_random2) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag(@category_random2.image.url, height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2><%= @category_random2.name %></h2></strong>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-3">
    <a href="<%= category_path(@category_random3) %>">
      <div class="hoverable-field-wrapper">
        <%= image_tag(@category_random3.image.url, height: '80%', width: '80%', class: 'hoverable-image img-fluid rounded') %>
        <div class="hoverable-field-text-wrapper">
          <strong></i> <h2><%= @category_random3.name %></h2></strong>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col-md-12">
    <h2><%= t('.on_sale_products_subtitle') %></h2>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px; height:1px; background-color: #4F7479;">
  </div>
</div>

<div class="row text-center">
  <% @on_sale_products.each do |product| %>
    <div class="col-md-3">
      <a href="<%= product_path(product) %>">
        <div class="hoverable-field-wrapper mb-5">
          <%= image_tag(product.image.url, height: '55%', width: '55%', class: 'hoverable-image img-fluid rounded') %>
          <div class="hoverable-field-text-wrapper">
            <div class="product-details">
              <strong><i class="fa fa-eye"></i> <%= link_to t('.product_details'), product_path(product) %></strong>
            </div>
          </div>
          <h4><%= product.name %></h4>
          <p class="<%= 'line-through' if product.on_sale %>"><%= product.price %> EUR</p>
          <% if product.on_sale %>
            <p class="on-sale-price"><%= product.on_sale_price %> EUR</p>
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var options = {
    strings: ["Buying alcohol has never been easier!", "We have the best prices!"],
    typeSpeed: 35
  }

  var typed = new Typed("#typedElement", options);
</script>
