<footer class="page-footer font-small unique-color-dark pt-0 mt-3">

    <div style="background-color: #4F7479;">
        <div class="container">
            <div class="row py-3 d-flex align-items-center">
                <div class="col-md-12 col-lg-12 text-center">
                    <a class="fb-ic">
                        <i class="fa fa-facebook text-light mr-4"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fa fa-instagram text-light"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-6 col-lg-6 col-xl-6 mb-6">
                <h5 class="text-uppercase font-weight-bold">Alcohome</h5>

                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height:1px; background-color: #4F7479;">
                <p>
                  <%= link_to t('.categories'), categories_path %>
                </p>
                <p>
                  <%= link_to t('.about_us'), about_us_path %>
                </p>
                <p>
                  <%= link_to t('.contact'), contact_path %>
                </p>
                <p>
                  <%= link_to t('.terms_of_service'), terms_of_service_path %>
                </p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <h5 class="text-uppercase font-weight-bold"><%= t('.contact') %></h5>

                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px; height:1px; background-color: #4F7479;">
                <p class="contact-address">
                    <i class="fa fa-home mr-1"></i> Buchengasse 63/4, A-1100 Wien</p>
                <p class="contact-email">
                    <i class="fa fa-envelope mr-1"></i> <a href="mailto:contact@alcohome.at?subject=Contact%20using%20web%20form&body=Please%20send%20me%20your%20catalog!">contact@alcohome.at</a></p>
                <p class="contact-phone-number">
                    <i class="fa fa-phone mr-1"></i> +43 660 83 79 626</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
      © 2018 Copyright,
      <a href="<%= root_path %>" class="font-weight-bold">
        AlcoHome
      </a>
    </div>
</footer>
