<!-- <div class="row pt-3 pb-3">
  <%= image_tag('alcohome-logo.jpg', height: '100', width: '100', class: 'mx-auto') %>
</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <%= link_to image_tag('alcohome_logo_transparent.png', height: '70', width: '70'), root_path, class: 'navbar-brand' %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% Category.where.not(name: "Soft Drinks").each do |category| %>
        <li class="nav-item">
          <%= link_to t(".category_#{category.name.downcase}_name"), category_path(category), class: 'nav-link' %>
        </li>
      <% end %>

      <% if I18n.locale == I18n.default_locale %>
        <li class="nav-item">
          <%= link_to "Deutsch", { locale: :de }, class: 'nav-link font-weight-bold' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "English", { locale: :en }, class: 'nav-link font-weight-bold' %>
        </li>
      <% end %>

      <% if current_user && current_user.admin? %>
        <li class="nav-item">
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link font-weight-bold' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
