<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12 text-center pb-3">
		<h1><strong><%= @category.name %></strong></h1>
	</div>
</div>

<div class="row">
  <% @category.products.each do |product| %>
    <div class="col-md-4 text-center">
      <a href="<%= product_path(product) %>">
        <div class="thumbnail mb-5">
          <%= image_tag('vodka_grey_goose.jpg', height: '55%', width: '55%', class: 'product-image img-fluid rounded') %>
          <div class="product-text-wrapper">
            <div class="product-text">
              <h4><%= product.name %></h4>
              <p><%= product.price %> EUR</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
