<% content_for :title, @category.name %>

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 class="page-title"><%= t(".category_#{@category.name.downcase}_name") %></h1>
    </div>
  </div>

  <%= render partial: "shared/horizontal_line", locals: { width: 60 } %>

  <% if @category.name == "Wine" %>
    <div class="mt-2 mb-5">
      <p class="text-center">
        <%= t('.wine_category_first_paragraph') %>
      </p>

      <p class="text-center">
        <%= t('.wine_category_second_paragraph') %>
      </p>

      <p class="text-center">
        <%= t('.wine_category_third_paragraph') %>
      </p>

      <p class="text-center">
        <%= t('.wine_category_fourth_paragraph') %>
      </p>
    </div>
  <% else %>
    <% if @category.name == "Beer" %>
      <p class="text-center">
        <%= t('.beer_category_text') %>
      </p>
    <% end %>

    <div class="row mt-5">
      <% @category_products.each do |product| %>
        <%= render partial: "products/product", locals: { product: product } %>
      <% end %>
    </div>
  <% end %>
</div>
