<% content_for :title, @category.name %>

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 class="page-title"><%= @category.name %></h1>
    </div>
  </div>

  <%= render partial: "shared/horizontal_line", locals: { width: 60 } %>

  <% if @category.name != "Wine" %>
    <div class="row mt-5">
      <% @category_products.each do |product| %>
        <%= render partial: "products/product", locals: { product: product } %>
      <% end %>
    </div>
  <% else %>
    <p>
      <%= t('.wine_category_first_paragraph') %>
    </p>

    <p>
      <%= t('.wine_category_second_paragraph') %>
    </p>

    <p>
      <%= t('.wine_category_third_paragraph') %>
    </p>

    <p>
      <%= t('.wine_category_fourth_paragraph') %>
    </p>
  <% end %>
</div>
