<% content_for :title, @product.name %>

<div class="container-fluid">
	<div class="row mt-5">

		<div class="col-md-6 text-center mt-5 mb-3">
			<%= image_tag(@product.image.url, class: 'img-fluid rounded') %>
		</div>

		<div class="col-md-6 text-center align-self-start mt-5 mb-3">
			<h1 class="font-weight-bold"><%= @product.name %></h1>
      <div>
        <i><%= link_to @product.vendor.name, vendor_path(@product.vendor) %></i> |
        <i><%= link_to @product.category.name, category_path(@product.category) %></i>
      </div>
<!-- 	    <% if @product.on_sale %>
	       <div class="price on-sale-price"><%= t('.now') %> &euro;<%= @product.on_sale_price %></div>
	    <% end %>
	    <div class="price <%= 'line-through' if @product.on_sale %>">
        &euro;<%= @product.price %>
	    </div> -->
		</div>
	</div>
</div>
