<!DOCTYPE html>
<html lang="en">
    <head>
      <title>AlcoHome | <%= yield(:title) %></title>
      <link rel="icon" href="<%= image_path('alcohome_logo_transparent.png') %>">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
      <script>
        $(document).on('turbolinks:load', function() {
          window.cookieconsent.initialise({
            "palette": {
              "popup": {
                "background": "#000"
              },
              "button": {
                "background": "#f1d600"
              }
            },
            "content": {
              "message": "Um unseren Kunden den besten Service bieten zu können und die Benutzung zu vereinfachen, verwenden wir auf unserer Homepage Cookies. Bitte bestätige, dass du damit einverstanden bist.",
              "href": "https://www.alcohome.at/terms_of_service"
            }
          })
        });
      </script>
    </head>

    <body>
      <%= render 'shared/age_check' %>
      <%= render 'shared/nav' %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </body>
</html>
