<!DOCTYPE html>
<html lang="en">
    <head>
      <title>AlcoHome | <%= yield(:title) %></title>
      <link rel="icon" href="<%= image_path('alcohome_logo_transparent.png') %>">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>
      <% if session[:agecheck].nil? %>
      <%= render 'shared/agecheck' %>
      <% end %>

      <%= render 'shared/nav' %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </body>
</html>
